.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-bullet {
    background-color: #d9d9d9;
    opacity: unset !important;
}
.swiper-pagination-bullet-active {
    background: red;
}
.section-3-swiper, .section-4-swiper, .section-5-swiper, .section-6-swiper, .section-7-swiper {
    &.swiper {
        padding: 0 36px 50px 36px;
        
        @include mq(phone-only) {
            padding: 0 20px 50px 20px;
        }
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        content: "";
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background: #d50101;
        top: 38% !important;

        @include mq(phone-only) {
            display: none;
        }
        i {
            color: #fff;
        }
        &.swiper-button-disabled {
            opacity: 1;
            background: #ebebeb;
            i {
                color: #1c274c;
            }
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet-active {
            background-color: #9d0098;
        }
    }
}
