.big-post-swiper .swiper-pagination-bullets {
    top: 62% !important;
    height: fit-content;
}

/*07.11.2024 added date*/
.big-post-swiper .card {
    width: 100%;
}
.big-post-swiper .card .card-title {
    font-size: 19px !important;
    text-align: left !important;
}
.swiper-slide {
    height: auto !important;
}
.swiper-slide img {
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
.article-content .figure {
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
.article-content .figure img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}
.card {
    height: 100% !important;
}
.news-ticker-inner .news-ticker-items {
    column-gap: 50px !important;
    margin-bottom: 0 !important;
}
.news-ticker {
        padding: 15px 0 15px 0;
}
@media only screen and (min-width: 1200px) {
    .section-1 .right-side .row {
        justify-content: space-between;
    }
    .section-1 .right-side .row .col-sm-12:nth-child(1) {
        min-height: 30% !important;
    }
    .section-1 .right-side .row .col-sm-12:nth-child(2) {
        min-height: 60% !important;
    }
}
/*07.11.2024 added date*/